html
  head
  link(rel="stylesheet" type="text/css" href='static/css/wa.css')

  title Weather Application
  h1 Weather Application
  p This project involves displaying weather data with features such as Maximum temperature, Minimum temperature, description, rainfall and additional features such as pressure, humidity, windspeed which can be seen by switching on and off. It also includes a google map displaying the location queried for.
    p The input for this application is location, selection of metric units and number of days the weather data is required. It also has the 3 hour data by clicking on each day.
    p The ouput will be displaying weather data and google map containing the location.
    br
    br
    p The functionalities of this application involves,
    li Entering the location and getting weather data for the above described features.
    br
    li Getting google map for that particular location.
    br
    li Placing the marker on that location.
    br
    li Hiding the details of additional features by switching on and off.
    br
    li Graphical display of weather description.
    br
    li Predicting the location by giving suggestions when entering the location.
