/*Body Style*/
body{
background-image: url("http://cdn.weatheravenue.com/img/background/background.jpg");
background-origin: content-box;

  margin: 0 auto;
  padding: 0 20px;
  font-size: 1.3em;
  line-height: 1.6em;
  font-family: Helvetica Neue, Helvetica, Arial, serif;
    width: 80%;
    margin: 40px 40px 40px 40px;

}

   button {
     width: 150px;
    background-color: #333;
    color: bisque;

   }

ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: bisque;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


.centered {
  text-align: right;
}

header{
    color: #05056a;
    }

h1{
  text-align: center;
}

#form{
    font-size: 15px;

}
#style{
    font-size: 18px;
}

/*Map Style*/
#map {
    width:400px;
    height:400px;
    float: right;
    border: 2px solid black;
        }
